@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --text-font-family: "Roboto", sans-serif;
  --link-color: #212121;
  --description-color: #757575;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  font-family: var(--text-font-family);
  font-size: 14px;
}

/* Section HEADER */

.global-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #ececec;
}

.link-bar {
  display: flex;
  padding-left: 93px;
  margin: 0;
  gap: 50px;
}

.main-navigation {
  display: flex;
  align-items: center;
  margin-left: 215px;
}

.web-studio {
  color: #2196f3;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.hero-section {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("/images/image-title.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 94px;
}

/* .global-header .main-navigation .nav-bar-link {
  color: var(--link-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
} */

.global-header .main-navigation a:hover,
.global-header .main-navigation a:focus {
  color: #2196f3;
}

.global-header .nav-bar-right a {
  color: var(--description-color);
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.global-header .nav-bar-right a:hover,
.global-header .nav-bar-right a:focus {
  color: #2196f3;
}

.nav-bar-right {
  display: flex;
  margin-right: 215px;
}

.nav-bar-right-mail {
  display: flex;
  align-items: center;
}

.nav-bar-right-phone {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.right-phone {
  margin-left: 10px;
}

.icons-list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
  padding-bottom: 30px;
}

.nav-bar-right .icon-mail:hover {
  color: #2196f3;
}

.icon-mail {
  height: 16px;
  width: 16px;
}

.mail-right {
  margin-right: 10px;
}

.icons-list .icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-list .icon:hover {
  border-radius: 50%;
  background-color: #2196f3;
}

.icon-regular-customers {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icons-description {
  border-radius: 4px;
  background: #f5f4fa;
}

.icon-customers {
  width: 170px;
  height: 92px;
}

.regular-customers ul {
  display: flex;
  justify-content: space-around;
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers .icon-regular-customers:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

/* Section MAIN */

.section-heading {
  color: #ffffff;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-top: 200px;
}

.main-btn {
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  padding: 10px 20px;
  border: unset;
  margin-bottom: 200px;
}

.main-description ul {
  display: flex;
  justify-content: space-around;
}

.main-description h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.main-description {
  margin-top: 94px;
  margin-bottom: 94px;
}

.main-images-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 94px;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team {
  background: #f5f4fa;
  padding-top: 94px;
}

.our-team-flex .icons-list svg {
  width: 20px;
  height: 20px;
}

.our-team-flex {
  display: flex;
  justify-content: space-around;
  padding-bottom: 94px;
}

.our-team li + li {
  margin-left: 30px;
}

/* Section FOOTER */

.footer {
  background: #2f303a;
  display: flex;
  align-items: center;
}

.footer .adress {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .studio-footer {
  color: #ffffff;
}

.footer a {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer h4 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .icons-list-footer svg {
  height: 20px;
  width: 20px;
}

.icons-list-footer {
  display: flex;

  margin-top: 16px;
  justify-content: center;
}

.icons-list-footer .icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-list-footer .icon:hover {
  border-radius: 50%;
  background-color: #2196f3;
}

.social {
  margin-left: 94px;
}

/* Section Portfolio */

.main-portfolio {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}

.btn:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.main-images-portfolio {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 56px;
  margin-bottom: 94px;
  justify-items: center;
}
.main-images-portfolio .card:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  max-width: 320px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #eeeeee;
}

.card-images {
  max-width: 100%;
  display: block;
}

.card-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar-link {
  font-weight: 500;
  line-height: 1.17;
  padding: 32px 0px 31px 0px;
  display: block;
  color: var(--link-color);
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
}

.nav-bar-link:hover,
.nav-bar-link:focus {
  color: #2196f3;
  outline: none;
}
.nav-bar-link:hover::after,
.nav-bar-link:focus::after {
  display: block;
}
.nav-bar-link::after {
  display: none;
  position: absolute;
  content: "";
  border-radius: 2px;
  background: #2196f3;
  height: 3px;
  bottom: -3px;
  left: 0;
  width: 100%;
}
